/* rgb(7, 140, 3) green
rgb(35, 140, 31) lighter green
rgb(113, 166, 111)
#f8f9fa LIGHtWHITE
rgb(13, 13, 13) black*/
@import "https://cdn.jsdelivr.net/highlight.js/9.1.0/styles/github.min.css";
body, #app {
    /* font-family: JetBrainsMono, Arial, Helvetica, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    background-color:#e7eaec;
    margin: 0;

    display: flex;
    position: relative;
    margin: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
	justify-content: space-between;
}
a {
    color: black;
}

pre[data-lang]::before { text-align: right; content: attr(data-lang); display: block; font-weight: bold;}

/* code {
    font-style: italic;
    background-color: lightgray;
    border-radius: 5%;
    padding: .1rem;
} */

.main-text.-title {
    font-weight: 600;
    font-size: 2rem;
}
.main-text > .-strong {
    color: rgb(35, 140, 31);
    font-weight: 600;
}
.main-text > .-highlight {
   background-color: rgb(35, 140, 31);
   color: white;
   padding: 2px 2px; 
   margin: 1px 2px;
}
.main-text > .-grey-highlight {
    background-color: rgb(211, 211, 211);
    padding: 2px 2px; 
 }
.main-text > .-semi-highlight {
    position: relative;
}
.main-text > .-semi-highlight::after {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    width: 100%;
    height: 50%;
    background-color: #d3d3d3;
    z-index: -1;
}
.main-text > .-primary {
    color: rgb(35, 140, 31);
}
.main-text.-subtitle {
    font-weight: 400;
    font-size: 1.5rem;
}
.main-text.-mini-title {
    font-weight: 400;
    font-size: 1.2rem;
}
.main-text.-small {
    font-size: .8rem;
}